### Data Source

* https://github.com/MoH-Malaysia/covid19-public
* https://github.com/CITF-Malaysia/citf-public

In [1]:
import numpy
import pandas as pd

In [15]:
registration="https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/registration/"
static_citf="https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/static/"
vaccination="https://raw.githubusercontent.com/CITF-Malaysia/citf-public/main/vaccination/"


#registration
df_vaxreg_malaysia=pd.read_csv(registration+"vaxreg_malaysia.csv")
df_vaxreg_state=pd.read_csv(registration+"vaxreg_state.csv")
#vaccination
df_vax_malaysia=pd.read_csv(vaccination+"vax_malaysia.csv")
df_vax_state=pd.read_csv(vaccination+"vax_state.csv")

df_population_citf=pd.read_csv(static_citf+"population.csv")

,date,state,total,phase2,mysj,call,web,children,elderly,comorb,oku
34,2021-07-28,Malaysia,20484128,6158861,19104641,11248,1368239,1348169,3137350,4633015,440055

In [49]:
latest_date=df_vaxreg_state.tail(1)["date"].values[0]
df_latest_vaxreg_state=df_vaxreg_state[df_vaxreg_state.date==latest_date]
df_latest_vax_state=df_vax_state[df_vax_state.date==latest_date]

#df_latest_vax_state.join(df_latest_vaxreg_state.set_index('date'), onstatestate')

df_vaxreg_x_vax=df_latest_vaxreg_state.join(df_latest_vax_state.set_index('state'), on='state',lsuffix='_vaxreg', rsuffix='_vax')[['state', 'total', 'dose1_cumul', 'dose2_cumul',
       'total_cumul']]
df_vaxreg_x_vax["dose1_percent"]=df_vaxreg_x_vax["dose1_cumul"]/df_vaxreg_x_vax["total"]*100
df_vaxreg_x_vax["dose2_percent"]=df_vaxreg_x_vax["dose2_cumul"]/df_vaxreg_x_vax["total"]*100
df_vaxreg_x_vax.sort_values(by=['dose2_percent'],ascending=False)

,state,total,dose1_cumul,dose2_cumul,total_cumul,dose1_percent,dose2_percent
558,W.P. Labuan,62872,62068,53885,115953,98.721211,85.705879
554,Sarawak,1788664,1685794,1226842,2912636,94.248780,68.589853
559,W.P. Putrajaya,95131,94173,47525,141698,98.992968,49.957427
551,Perlis,164773,106587,72650,179237,64.687176,44.090962
557,W.P. Kuala Lumpur,1911969,2246089,822747,3068836,117.475179,43.031399
553,Sabah,1136623,733750,385270,1119020,64.555266,33.896024
546,Kelantan,781494,410993,240193,651186,52.590679,30.735105
556,Terengganu,626448,317916,186978,504894,50.748985,29.847330
550,Perak,1473779,711754,412686,1124440,48.294486,28.001892
548,Negeri Sembilan,835186,560017,232669,792686,67.052968,27.858345
549,Pahang,919563,443768,241185,684953,48.258575,26.228219
547,Melaka,637097,305111,166564,471675,47.890824,26.144214
545,Kedah,1208831,536284,278917,815201,44.363852,23.073283
552,Pulau Pinang,1263388,698521,278321,976842,55.289507,22.029733
555,Selangor,5007026,2928552,1044430,3972982,58.488851,20.859289
544,Johor,2571284,999835,413974,1413809,38.884658,16.099894

In [3]:
epidemic="https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/"
mysejahtera="https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/mysejahtera/"
static_moh="https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/static/"

#static
df_population_moh=pd.read_csv(static_moh+"population.csv")

#epidemic
df_cases_malaysia=pd.read_csv(epidemic+"cases_malaysia.csv")
df_cases_state=pd.read_csv(epidemic+ "cases_state.csv")
df_tests_malaysia=pd.read_csv(epidemic+ "tests_malaysia.csv")
df_clusters=pd.read_csv(epidemic+ "clusters.csv")
df_deaths_malaysia=pd.read_csv(epidemic+ "deaths_malaysia.csv")
df_deaths_state=pd.read_csv(epidemic+ "deaths_state.csv")
df_pkrc=pd.read_csv(epidemic+ "pkrc.csv")
df_hospital=pd.read_csv(epidemic+ "hospital.csv")
df_icu=pd.read_csv(epidemic+ "icu.csv")

#mysejahtera
df_checkin_malaysia=pd.read_csv(mysejahtera+"checkin_malaysia.csv")
df_checkin_malaysia_time=pd.read_csv(mysejahtera+"checkin_malaysia_time.csv")
df_checkin_state=pd.read_csv(mysejahtera+"checkin_state.csv")
df_trace_malaysia=pd.read_csv(mysejahtera+"trace_malaysia.csv")