In [1]:
from covid19dh import covid19
x, src = covid19()

We have invested a lot of time and effort in creating COVID-19 Data Hub, please cite the following when using it:

	Guidotti, E., Ardia, D., (2020), "COVID-19 Data Hub", Journal of Open Source Software 5(51):2376, doi: 10.21105/joss.02376.

A BibTeX entry for LaTeX users is

	@Article{,
		title = {COVID-19 Data Hub},
		year = {2020},
		doi = {10.21105/joss.02376},
		author = {Emanuele Guidotti and David Ardia},
		journal = {Journal of Open Source Software},
		volume = {5},
		number = {51},
		pages = {2376},
	}

To hide this message use 'verbose = False'.

In [5]:
x[x.administrative_area_level_1=="Malaysia"]

,id,date,vaccines,tests,confirmed,recovered,deaths,hosp,vent,icu,...,currency,administrative_area_level,administrative_area_level_1,administrative_area_level_2,administrative_area_level_3,latitude,longitude,key,key_apple_mobility,key_google_mobility
68669,MYS,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
68670,MYS,2020-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
68671,MYS,2020-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
68672,MYS,2020-01-25,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
68673,MYS,2020-01-26,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69192,MYS,2021-06-28,7593179.0,NaN,739266.0,672453.0,5001.0,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
69193,MYS,2021-06-29,7824912.0,14473835.0,745703.0,677751.0,5108.0,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
69194,MYS,2021-06-30,8083685.0,14557356.0,751979.0,682680.0,5170.0,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
69195,MYS,2021-07-01,8346697.0,14645806.0,758967.0,688260.0,5254.0,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY
69196,MYS,2021-07-02,8582893.0,NaN,765949.0,694538.0,5327.0,NaN,NaN,NaN,...,MYR,1,Malaysia,NaN,NaN,2.5,112.5,NaN,Malaysia,MY